<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Techy Tech TECH</title>
    <link rel="stylesheet" href="css/jass.css">
    <link rel="stylesheet" href="css/style.css">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  
      <nav class=" navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle float-left"
              data-toggle="collapse"
              data-target="#myNavbar"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"></a>
          </div>
          
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/dashboard">HOME</a></li>
              <li><a href="/dashboard">DASHBOARD</a></li>
              
             {{!-- when you login 'create new blog should pop up --}}
              {{#if logged_in}}
         <li><a href="/profile">MY PROFILE</a></li>
        <li><a href="/createBlog">CREATE A NEW BLOG!</a></li> 
        <li><a href="" id="logout">LOGOUT </a></li> 
        {{else}}
    <li><a href="/login">LOG IN</a></li>
        {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
        <header>
       <img id ="eye" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyeGCl88mSjlMXspn9n_QvsAAGMBUHBPyANw&usqp=CAU" alt = "An image of a technical eye"/>
        </header>
        <h1>
           Your Techy Tech TECH Blog 
        </h1>
        <main class="container container-fluid mt-5">
          {{{ body }}}

      </main>
      </body>   
      <br>
      <br>
      <br>
      
<footer> Made by HUMMA </footer>
<script src="js/logout.js"></script>
  </html>