 <div id = "HOME" class="menu-container">
            <div class="card-header col-md-12 text-center">
              <h2>
                The Tech Talk Space
              </h2>
              </div>
              </div>
           </div>
</div>
<!-- blog cards -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Some new devs on the block</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
    
</div>
<div class="col-sm-6">
  <div class="card">
    <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">New coders trying to break the system..</p>
      <a href="/" class="btn btn-primary">See Blog</a>
    </div>
  </div>